/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 15px;
}

.topnav img {
  max-width: 3%;
  height: auto;
}


.grid {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  /*grid-template-columns: 100px 140px 140px 200px 200px 200px*/
}

.pokesprite {
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
}



.data{
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-out1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;  
  /*padding-left: 20%;*/
}

.btn-in1{
  padding: 10px;
}

.btn-out2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.btn-in2{
  padding: 10px;
}

.btn-out3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  /*padding-right: 20%;*/
}

.btn-in3{
  padding: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
  /*grid-template-columns: 2.9fr .1fr 2.9fr;*/
}
.hi{
  padding-left: 50%;
}

.evolutions{
  display: flex;
  justify-content: center;
  padding: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#evolution-1{
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}

#evolution-2{
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}

#evolution-3{
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;  
}