/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 15px;
}

.topnav img {
  max-width: 3%;
  height: auto;
}
.data-inline {
  inline-size: 1;
}
